Repository mrkurger/date-night-app2: changes, and which lint-staged commands are due for each by the changed paths.
All: cd server && npx eslint --fix, cd server && npx prettier --write, cd client-angular && npx eslint --fix, cd client-angular && npx prettier --write, npx prettier --write

.lintstagedrc.json:

{
  "server/**/*.js": [
    "cd server && npx eslint --fix",
    "cd server && npx prettier --write"
  ],
  "client-angular/src/**/*.ts": [
    "cd client-angular && npx eslint --fix",
    "cd client-angular && npx prettier --write"
  ],
  "client-angular/src/**/*.html": ["cd client-angular && npx prettier --write"],
  "client-angular/src/**/*.{scss,css}": [
    "cd client-angular && npx prettier --write"
  ],
  "*.json": ["npx prettier --write"]
}

packages
  client-angular/package.json
  package-lock.json
Due: npx prettier --write

Update action.yml
  .github/actions/setup-nodejs/action.yml
Due: none

Update angular-tests.yml
  .github/workflows/angular-tests.yml
Due: none

Update angular-client-lint.yml
  .github/workflows/angular-client-lint.yml
Due: none

feat: Implement advertiser browsing feature with Netflix and Tinder views
  client-angular/src/app/core/components/navigation/navigation.component.html
  client-angular/src/app/core/components/navigation/navigation.component.scss
  client-angular/src/app/core/components/navigation/navigation.component.ts
  client-angular/src/app/core/components/search-dialog/search-dialog.component.ts
  client-angular/src/app/core/services/keyboard-shortcuts.service.ts
  client-angular/src/app/core/services/mock-data.service.ts
  client-angular/src/app/core/services/search.service.ts
  client-angular/src/app/shared/components/breadcrumbs/breadcrumbs.component.ts
  client-angular/src/app/shared/components/keyboard-shortcuts-help/keyboard-shortcuts-help.component.ts
  client-angular/src/app/shared/components/theme-toggle/theme-toggle.component.ts
  package.json
  scripts/populate-advertisers.ts
  server/tests/setup.js
  server/tests/unit/middleware/validation.test.js
  server/tests/unit/services/auth.service.test.js
  src/app/app-routing.module.ts
  src/app/app.component.html
  src/app/app.component.ts
  src/app/features/advertiser-browsing/advertiser-browsing.module.ts
  src/app/features/advertiser-browsing/components/favorites/favorite-button.component.ts
  src/app/features/advertiser-browsing/components/netflix-view/netflix-view.component.ts
  src/app/features/advertiser-browsing/components/tinder-view/tinder-view.component.ts
  src/app/features/advertiser-browsing/models/advertiser.interface.ts
  src/app/features/advertiser-browsing/pages/advertiser/advertiser.component.ts
  src/app/features/advertiser-browsing/pages/browse/browse.component.ts
  src/app/features/advertiser-browsing/pages/favorites/favorites.component.ts
  src/app/features/advertiser-browsing/pages/rankings/rankings.component.ts
  tailwind.config.js
Due: cd server && npx eslint --fix, cd server && npx prettier --write, cd client-angular && npx eslint --fix, cd client-angular && npx prettier --write, npx prettier --write

ci: disable Husky git hooks in CI environment
  .github/scripts/disable-husky.sh
  .github/workflows/angular-tests.yml
  .github/workflows/ci.yml
  client-angular/src/app/core/design/dark-mode.scss
  client-angular/src/app/core/design/nebular-theme-customization.scss
  package.json
Due: cd client-angular && npx prettier --write, npx prettier --write

Fix: regenerate lock file and resolve missing dependencies
  package-lock.json
  package.json
Due: npx prettier --write

Update dependency-check.yml
  .github/workflows/dependency-check.yml
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

Enhance CI workflow for Angular tests and add concurrently dependency
  .github/workflows/angular-tests.yml
  client-angular/package-lock.json
  client-angular/package.json
  pnpm-lock.yaml
Due: npx prettier --write

Update documentation.yml
  .github/workflows/documentation.yml
Due: none

Update server-tests.yml
  .github/workflows/server-tests.yml
Due: none

Remove generate-docs.js script and associated GitHub Actions workflow
  .github/scripts/generate-docs.js
Due: none

Update process-workflow-errors.js
  .github/scripts/process-workflow-errors.js
Due: none

Update error-monitoring.yml
  .github/workflows/error-monitoring.yml
Due: none

Update disable-husky-in-ci.js
  .github/scripts/disable-husky-in-ci.js
Due: none

feat: update package.json to support ES modules and add new scripts
  client-angular/package-lock.json
  client-angular/package.json
  package-lock.json
  package.json
  server/package-lock.json
  server/package.json
Due: npx prettier --write

feat: remove core module and alert service files
  .github/workflows/angular-tests.yml
  .github/workflows/error-monitoring.yml
  .github/workflows/monorepo-tests.yml
  .github/workflows/server-tests.yml
  .github/workflows/sync-workflow-errors.yml
  .github/workflows/workflow-system-tests.yml
  .github/workflows/workflow-tests.yml
  client-angular/src/app/core/services/AILESSONS.html
  client-angular/src/app/core/services/CHANGELOG.html
  client-angular/src/app/core/services/chat.service.spec.ts
  client-angular/src/app/core/services/chat.service.ts
  package-lock.json
  package.json
  scripts/check-lockfile-consistency.js
  scripts/update-deprecated-deps.js
  ts-fixes-backup-advanced/src/app/core/core.module.ts
  ts-fixes-backup-advanced/src/app/core/services/alert.service.ts
  ts-fixes-backup-comprehensive/src/app/core/core.module.ts
  ts-fixes-backup-comprehensive/src/app/core/services/alert.service.ts
  ts-fixes-backup/src/app/core/core.module.ts
  ts-fixes-backup/src/app/core/services/alert.service.ts
Due: cd client-angular && npx eslint --fix, cd client-angular && npx prettier --write, npx prettier --write

feat(csrf): enhance CSRF protection with improved secret handling and error responses
  .github/workflows/base-config.yml
  .github/workflows/documentation.yml
  .github/workflows/env-config.yml
  .github/workflows/generate-docs.yml
  .github/workflows/meta-docs-config.yml
  .github/workflows/meta-security-and-errors.yml
  .github/workflows/monorepo-tests.yml
  .github/workflows/security-alerts-report.yml
  .github/workflows/security-reporting.yml
  .github/workflows/sync-snyk-issues.yml
  .github/workflows/sync-workflow-errors.yml
  TEMP_ducs_upgrade.md
  client-angular/src/app/core/interceptors/AILESSONS.html
  client-angular/src/app/core/interceptors/CHANGELOG.html
  client-angular/src/app/core/interceptors/GLOSSARY.html
  client-angular/src/app/core/interceptors/http-error.interceptor.original.ts
  client-angular/src/app/core/services/chat.service.spec.ts
  client-angular/src/app/core/services/chat.service.ts
  client-angular/src/app/environments/environment.ts
  docs/security/SECURITY_AUDIT.html
  server/config/csp.config.js
  server/middleware/csp.middleware.js
  server/middleware/csrf.js
  server/middleware/securityHeaders.js
Due: cd server && npx eslint --fix, cd server && npx prettier --write, cd client-angular && npx eslint --fix, cd client-angular && npx prettier --write

Update dependabot.yml
  .github/dependabot.yml
Due: none

chore: upgrade Angular and related dependencies to version 17.x.x, update TypeScript to 5.4.5, and zone.js to 0.14.10
  client-angular/angular.json
  client-angular/package-lock.json
  client-angular/package.json
Due: npx prettier --write

angular 18
  client-angular/angular.json
  client-angular/package-lock.json
  client-angular/package.json
  client-angular/src/app/components/login/login.component.spec.ts
  client-angular/src/app/core/core.module.ts
  client-angular/src/app/core/interceptors/auth.interceptor.ts
  client-angular/src/app/core/interceptors/csp.interceptor.spec.ts
  client-angular/src/app/core/interceptors/http-error.interceptor.retry.spec.ts
  client-angular/src/app/core/interceptors/http-error.interceptor.spec.ts
  client-angular/src/app/core/interceptors/http-error.interceptor.ts
  client-angular/src/app/core/services/ad.service.spec.ts
  client-angular/src/app/core/services/alert.service.spec.ts
  client-angular/src/app/core/services/auth.service.spec.ts
  client-angular/src/app/core/services/caching.service.spec.ts
  client-angular/src/app/core/services/chat.service.spec.ts
  client-angular/src/app/core/services/encryption.service.spec.ts
  client-angular/src/app/core/services/favorite.service.spec.ts
  client-angular/src/app/core/services/geocoding.service.spec.ts
  client-angular/src/app/core/services/location.service.spec.ts
  client-angular/src/app/core/services/media.service.spec.ts
  client-angular/src/app/core/services/notification.service.spec.ts
  client-angular/src/app/core/services/payment.service.spec.ts
  client-angular/src/app/core/services/telemetry.service.spec.ts
  client-angular/src/app/core/services/travel.service.spec.ts
Due: cd client-angular && npx eslint --fix, cd client-angular && npx prettier --write, npx prettier --write

Update meta-security-and-errors.yml
  .github/workflows/meta-security-and-errors.yml
Due: none

Update analyze-workflow-errors.js
  .github/scripts/analyze-workflow-errors.js
Due: none

Update jfrog.yml
  .github/workflows/jfrog.yml
Due: none
