Repository mrkurger/date-night-app2: changes, and which lint-staged commands are due for each by the changed paths.
All: cd server && npx eslint --fix, cd server && npx prettier --write, cd client-angular && npx eslint --fix, cd client-angular && npx prettier --write, npx prettier --write

Migrating to PrimeNG
  client-angular/src/app/app.component.html
  client-angular/src/app/app.component.ts
  client-angular/src/app/core/components/navigation/navigation.component.html
  client-angular/src/app/core/components/navigation/navigation.component.ts
  client-angular/src/app/core/services/chat.service.ts
  client-angular/src/app/core/services/notification.primeng.service.ts
  client-angular/src/app/features/chat/chat-room/chat-room.component.scss
  client-angular/src/app/features/chat/chat-room/chat-room.component.ts
  client-angular/src/app/features/chat/chat.component.fixed.ts
  client-angular/src/app/features/netflix-view/netflix-view.component.html
  client-angular/src/app/features/netflix-view/netflix-view.component.scss
  client-angular/src/app/features/netflix-view/netflix-view.component.ts
  client-angular/src/app/features/shared/nebular.module.ts
  client-angular/src/app/shared/UI_MIGRATION_PLAN.html
  client-angular/src/app/shared/components/chat-settings/chat-settings.component.ts
  client-angular/src/app/shared/components/custom-nebular-components/nb-advanced-form/nb-advanced-form.component.ts
  client-angular/src/app/shared/components/custom-nebular-components/nb-data-table/nb-data-table.component.ts
  client-angular/src/app/shared/components/custom-nebular-components/nb-navigation/nb-navigation.component.ts
  client-angular/src/app/shared/components/custom-nebular-components/nb-theme-toggle/nb-theme-toggle.component.ts
  client-angular/src/app/shared/components/nebular-example/nebular-example.component.ts
  client-angular/src/app/shared/components/nebular-icon/nebular-icon.component.ts
  client-angular/src/app/shared/nebular.module.ts
  migrate-to-primeng.js
Due: cd client-angular && npx eslint --fix, cd client-angular && npx prettier --write

Workflow fixing
  .github/actions/setup-nodejs/action.yml
  .github/scripts/generate-snyk-task-list.js
  .github/scripts/validate-workflow-scripts.js
  .github/workflows/ci.yml
  .github/workflows/error-monitoring.yml
  .github/workflows/jfrog.yml
  .github/workflows/meta-security-and-errors.yml
  .github/workflows/monorepo-tests.yml
  .github/workflows/trivy-scan.yml
  WORKFLOW_FIXES_SUMMARY.md
Due: none

fix: Enhance JFrog CLI error handling and update Trivy scan permissions
  .github/workflows/jfrog.yml
  .github/workflows/trivy-scan.yml
Due: none

jfrog update
  .github/workflows/jfrog.yml
Due: none

fix: Update JFrog workflow to handle client dependencies and improve error messages
  .github/workflows/jfrog.yml
  .gitignore
Due: none

Trivy workflow
  .github/scripts/cleanup-trivy-reports.js
  .github/workflows/trivy-scan.yml
Due: none

Add Trivy security scan report - 2025-05-24 12:54:02
  logs/trivy/README.md
  logs/trivy/trivy-report-20250524_125246.json
  logs/trivy/trivy-report-20250524_125246.md
Due: npx prettier --write

fix: update .gitignore to include scripts/lsp-mcp and mark subproject as dirty
  .gitignore
Due: none

Add Trivy security scan report - 2025-05-24 14:59:13
  logs/trivy/README.md
  logs/trivy/trivy-report-20250524_145756.json
  logs/trivy/trivy-report-20250524_145756.md
Due: npx prettier --write

Update .github/workflows/jfrog.yml
  .github/workflows/jfrog.yml
Due: none

Update .github/workflows/trivy-scan.yml
  .github/workflows/trivy-scan.yml
Due: none

Add Trivy security scan report - 2025-05-24 15:11:55
  logs/trivy/README.md
  logs/trivy/trivy-report-20250524_151037.json
  logs/trivy/trivy-report-20250524_151037.md
Due: npx prettier --write

Update .gitignore
  .gitignore
Due: none

Disabling buggy workflows
  .github/workflows/angular-client-lint.yml.disabled
  .github/workflows/ci.yml.disabled
  .github/workflows/cleanup.yml.disabled
  .github/workflows/codeql-analysis.yml.disabled
  .github/workflows/dependency-check.yml.disabled
  .github/workflows/disable_yml.sh
  .github/workflows/error-monitoring.yml.disabled
  .github/workflows/frogbot.yml.disabled
  .github/workflows/jfrog.yml.disabled
  .github/workflows/meta-docs-config.yml.disabled
  .github/workflows/meta-security-and-errors.yml.disabled
  .github/workflows/monitoring.yml.disabled
  .github/workflows/monorepo-tests.yml.disabled
  .github/workflows/sync-test-reports.yml.disabled
  .github/workflows/tests.yml.disabled
  .github/workflows/trivy-scan.yml.disabled
  .github/workflows/workflow-health-check.yml.disabled
  angular.json
  audit-and-fix-nebular-migration.mjs
  client-angular/pnpm-lock.yaml
  client-angular/scripts/migrate-emerald-to-nebular.js
  client-angular/src/app/core/services/icon.service.ts
  client-angular/src/app/shared/components/icon/AILESSONS.html
  client-angular/src/app/shared/components/icon/CHANGELOG.html
  client-angular/src/app/shared/components/icon/GLOSSARY.html
  client-angular/src/app/shared/components/icon/icon.component.ts
  client-angular/src/index.html
  package.json
  pnpm-lock.yaml
  scripts/fix-karma-css-paths.js
Due: cd client-angular && npx eslint --fix, cd client-angular && npx prettier --write, npx prettier --write

refactor: streamline PrimeNG theming and remove unused Nebular modules
  client-angular/src/app/app.config.ts
  client-angular/src/app/app.module.ts
Due: cd client-angular && npx eslint --fix, cd client-angular && npx prettier --write

chore: add ESLint and Prettier configuration files, remove old ESLint config
  client-angular/.eslintrc.json
  client-angular/.prettierrc.json
  eslint.config.js
Due: npx prettier --write

Refactor server and client package configurations
  .github/actions/setup-nodejs/action.yml
  angular.json.bak
  client-angular/.eslintrc.cjs
  client-angular/.eslintrc.json
  client-angular/angular.json
  client-angular/eslint.config.js
  client-angular/package-lock.json
  client-angular/package.json.old
  client-angular/pnpm-lock.yaml
  client-angular/src/app/app.module.ts
  client-angular/src/app/components/login/login.component.spec.ts
  client-angular/src/app/features/auth/login/login.component.spec.ts
  client-angular/src/app/shared/components/icon/AILESSONS.html
  client-angular/src/app/shared/components/icon/CHANGELOG.html
  nebular-demo.html
  package.json
  server/.eslintrc.json
  server/.prettierrc.json
  server/eslint.config.js
  server/package-lock.json
  server/package.json.bak
  server/package.json.new
  server/package.json.old
Due: cd server && npx eslint --fix, cd server && npx prettier --write, cd client-angular && npx eslint --fix, cd client-angular && npx prettier --write, npx prettier --write

chore: initialize package.json for date-night-app with dependencies and scripts
  package-lock.json
  package.json.save
Due: npx prettier --write

Update trivy-scan-angular19.yml
  .github/workflows/trivy-scan-angular19.yml
Due: none

Refactor code structure for improved readability and maintainability
  client-angular/pnpm-lock.yaml
  pnpm-lock.yaml
  server/pnpm-lock.yaml
Due: none

Remove old ESLint configuration and add a new comprehensive ESLint setup for Angular and TypeScript
  client-angular/eslint.config.js.bak2
  client-angular/eslint.config.js.bak3
Due: none

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

Update codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

Update package.json
  package.json
Due: npx prettier --write

Update codeql-analysis-pro.yml
  .github/workflows/codeql-analysis-pro.yml
Due: none

Remove unused Nebular example component and related documentation files
  client-angular/.codeql/config.yml
  client-angular/eslint.config.js
  client-angular/src/app/core/models/ad.interface.ts
  client-angular/src/app/core/models/favorite.interface.ts
  client-angular/src/app/core/models/media.service.interface.ts
  client-angular/src/app/core/models/menu.model.ts
  client-angular/src/app/core/models/payment-method.interface.ts
  client-angular/src/app/core/models/profile.interface.ts
  client-angular/src/app/core/models/user.model.ts
  client-angular/src/app/shared/components/emerald-example/AILESSONS.html
  client-angular/src/app/shared/components/emerald-example/CHANGELOG.html
  client-angular/src/app/shared/components/emerald-example/GLOSSARY.html
  client-angular/src/app/shared/components/emerald-example/emerald-example.html
  client-angular/src/app/shared/components/emerald-example/index.html
  client-angular/src/app/shared/components/nebular-example/AILESSONS.html
  client-angular/src/app/shared/components/nebular-example/CHANGELOG.html
  client-angular/src/app/shared/components/nebular-example/GLOSSARY.html
  client-angular/src/app/shared/components/nebular-example/index.html
  client-angular/src/app/shared/components/nebular-example/nebular-example.component.ts
  client-angular/src/app/shared/components/nebular-icon/AILESSONS.html
  client-angular/src/app/shared/components/nebular-icon/CHANGELOG.html
  client-angular/src/app/shared/components/nebular-icon/GLOSSARY.html
  client-angular/src/app/shared/components/nebular-icon/index.html
  client-angular/src/app/shared/components/nebular-icon/nebular-icon.component.ts
Due: cd client-angular && npx eslint --fix, cd client-angular && npx prettier --write

config.yml
  client-angular/.codeql/config.yml
  client-angular/.eslintrc.json
  client-angular/src/app/core/models/ad.interface.ts
  client-angular/src/app/core/models/favorite.interface.ts
  client-angular/src/app/core/models/media.service.interface.ts
  client-angular/src/app/core/models/profile.interface.ts
Due: cd client-angular && npx eslint --fix, cd client-angular && npx prettier --write, npx prettier --write

Path conditions:
  cd server && npx eslint --fix: any of: server/**/*.js
  cd server && npx prettier --write: any of: server/**/*.js
  cd client-angular && npx eslint --fix: any of: client-angular/src/**/*.ts
  cd client-angular && npx prettier --write: ((any of: client-angular/src/**/*.ts) or (any of: client-angular/src/**/*.html)) or (any of: client-angular/src/**/*.{scss,css})
  npx prettier --write: any of: *.json
