Repository mrkurger/date-night-app2: changes, and which lint-staged commands are due for each by the changed paths.
All: cd server && npx eslint --fix, cd server && npx prettier --write, cd client-angular && npx eslint --fix, cd client-angular && npx prettier --write, npx prettier --write

.lintstagedrc.json:

{
  "server/**/*.js": [
    "cd server && npx eslint --fix",
    "cd server && npx prettier --write"
  ],
  "client-angular/src/**/*.ts": [
    "cd client-angular && npx eslint --fix",
    "cd client-angular && npx prettier --write"
  ],
  "client-angular/src/**/*.html": ["cd client-angular && npx prettier --write"],
  "client-angular/src/**/*.{scss,css}": [
    "cd client-angular && npx prettier --write"
  ],
  "*.json": ["npx prettier --write"]
}

feat: Update interface naming conventions and fix import references in model files
  .github/workflows/codeql-analysis-pro.yml
  client-angular/src/app/core/models/ad.interface.ts
  client-angular/src/app/core/models/ad.model.ts
  client-angular/src/app/core/models/auth.model.ts
  client-angular/src/app/core/models/profile.interface.ts
  client-angular/src/app/core/models/user.interface.ts
  docs-html/general/eslint-migration-summary.html
  fix-model-imports.js
Due: cd client-angular && npx eslint --fix, cd client-angular && npx prettier --write

fix: add script to resolve nested i18n markers in chat-message component HTML
  .github/copilot-instructions.bak
  client-angular/angular.json
  client-angular/build.md
  client-angular/karma.conf.js
  client-angular/package-lock.json
  client-angular/package.json
  client-angular/pnpm-lock.yaml
  client-angular/pnpm-workspace.yaml
  client-angular/src/app/core/services/auth.service.ts
  client-angular/src/app/shared/components/chat-message/chat-message.component.html
  client-angular/src/app/shared/components/chat-message/chat-message.component.ts
  client-angular/src/app/shared/components/onboarding-checklist/onboarding-checklist.component.ts
  docs-html/general/eslint-migration-summary.html
  fix-nested-i18n.js
  package-lock.json
  package.json
Due: cd client-angular && npx eslint --fix, cd client-angular && npx prettier --write, npx prettier --write

refactor: update Karma configuration to CommonJS format and improve plugin imports
  .github/copilot-instructions.md
  .github/templates/user_settings.json
  .github/templates/ws_settings.json
  client-angular/karma.conf.cjs
  client-angular/karma.conf.js
  client-angular/package-lock.json
  client-angular/package.json
  client-angular/src/app/app.component.spec.ts
Due: cd client-angular && npx eslint --fix, cd client-angular && npx prettier --write, npx prettier --write

Implement shadcn/ui Blue theme with OKLCH color format
  client_angular2/app/globals.css
  client_angular2/app/globals.css.backup
Due: none

fix: update subproject commit to indicate dirty state
  client_angular2/components/components/masonry-grid.tsx
  client_angular2/components/components/tinder-view.tsx
Due: none

Add critical missing pages for dating platform with Blue theme
  client_angular2/app/matches/loading.tsx
  client_angular2/app/matches/page.tsx
  client_angular2/app/messages/[id]/page.tsx
  client_angular2/app/profile/edit/page.tsx
  client_angular2/app/settings/loading.tsx
  client_angular2/app/settings/page.tsx
  client_angular2/components/main-nav.tsx
  client_angular2/components/mobile-nav.tsx
  client_angular2/next.config.js
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

docs: automated documentation synchronization
  docs/DOCUMENTATION_STATUS.md
  docs/auto-generated/scripts/doc_cleanup.md
  docs/auto-generated/scripts/doc_control_audit.md
  docs/auto-generated/scripts/doc_control_main.md
  docs/auto-generated/scripts/doc_sync.md
  docs/graph/ci_knowledge.md
  docs/outdated/2025-06-08/CURRENT_AUDIT.md
  docs/outdated/2025-06-08/DOCUMENTATION_CLEANUP_REPORT.md
  docs/outdated/2025-06-08/DOCUMENTATION_DISCREPANCIES_REPORT.md
  docs/outdated/2025-06-08/README.md
Due: none

docs: automated documentation synchronization
  docs/DOCUMENTATION_STATUS.md
  docs/graph/ci_knowledge.md
  docs/outdated/2025-06-08/DOCUMENTATION_DISCREPANCIES_REPORT.md
  docs/outdated/2025-06-08/README.md
Due: none

Refactor code structure for improved readability and maintainability
  .continue/mcpServers/new-mcpServer.yaml
  client_angular2/app/rankings/page.tsx
  client_angular2/lib/api-service.ts
  client_angular2/playwright-report/index.html
  client_angular2/tests/screenshots/favorites-page.png
  client_angular2/tests/screenshots/home-desktop.png
  client_angular2/tests/screenshots/home-mobile.png
  client_angular2/tests/screenshots/home-page.png
  client_angular2/tests/screenshots/home-tablet.png
  client_angular2/tests/screenshots/netflix-view-desktop.png
  client_angular2/tests/screenshots/netflix-view-mobile.png
  client_angular2/tests/screenshots/netflix-view-tablet.png
  client_angular2/tests/screenshots/netflix-view.png
  client_angular2/tests/screenshots/profile-desktop.png
  client_angular2/tests/screenshots/profile-mobile.png
  client_angular2/tests/screenshots/profile-page.png
  client_angular2/tests/screenshots/profile-tablet.png
  client_angular2/tests/screenshots/tinder-desktop.png
  client_angular2/tests/screenshots/tinder-mobile.png
  client_angular2/tests/screenshots/tinder-tablet.png
  desktop-nav.png
  docs/codebase-review-summary.md
  scripts/save-to-memory-mcp.js
  tests/e2e/accessibility.spec.ts
  tests/e2e/navigation.spec.ts
  tests/e2e/pages/navigation-menu.ts
  tests/e2e/performance.spec.ts
  tests/e2e/responsive.spec.ts
  tests/e2e/screenshots/navigation_desktop_2025-06-09T05-18-30-775Z.png
  tests/e2e/screenshots/navigation_desktop_2025-06-09T05-22-11-893Z.png
  tests/e2e/screenshots/navigation_desktop_2025-06-09T05-26-00-170Z.png
  tests/e2e/screenshots/navigation_desktop_2025-06-09T05-29-29-450Z.png
  tests/e2e/screenshots/navigation_mobile_open_2025-06-09T05-18-32-367Z.png
  tests/e2e/screenshots/navigation_mobile_open_2025-06-09T05-22-13-298Z.png
  tests/e2e/screenshots/navigation_mobile_open_2025-06-09T05-26-01-946Z.png
  tests/e2e/screenshots/navigation_mobile_open_2025-06-09T05-29-30-953Z.png
Due: none

docs: automated documentation synchronization
  docs/DOCUMENTATION_STATUS.md
  docs/auto-generated/client_angular2/app/rankings/page.md
  docs/auto-generated/client_angular2/lib/api-service.md
  docs/auto-generated/scripts/save-to-memory-mcp.md
  docs/graph/ci_knowledge.md
  docs/outdated/2025-06-09/DOCUMENTATION_DISCREPANCIES_REPORT.md
  docs/outdated/2025-06-09/README.md
Due: none

docs: automated documentation synchronization
  docs/DOCUMENTATION_STATUS.md
  docs/auto-generated/scripts/doc_control_audit.md
  docs/auto-generated/scripts/doc_sync.md
  docs/graph/ci_knowledge.md
  docs/outdated/2025-06-09/DOCUMENTATION_DISCREPANCIES_REPORT.md
  docs/outdated/2025-06-09/README.md
Due: none

docs: automated documentation synchronization
  docs/DOCUMENTATION_STATUS.md
  docs/auto-generated/scripts/security-audit-mcp.md
  docs/graph/ci_knowledge.md
  docs/outdated/2025-06-09/DOCUMENTATION_DISCREPANCIES_REPORT.md
  docs/outdated/2025-06-09/README.md
Due: none

docs: automated documentation synchronization
  docs/DOCUMENTATION_STATUS.md
  docs/auto-generated/client_angular2/app/rankings/page.md
  docs/graph/ci_knowledge.md
  docs/outdated/2025-06-10/DOCUMENTATION_DISCREPANCIES_REPORT.md
  docs/outdated/2025-06-10/README.md
Due: none

feat: Implement Travel Itinerary feature with map and list views
  DATE_NIGHT_APP_AUDIT.md
  DATE_NIGHT_APP_ROADMAP.md
  client_angular2/TRAVEL_FEATURE_STATUS.md
  client_angular2/TRAVEL_IMPLEMENTATION_REPORT.md
  client_angular2/app/netflix-view/netflix-view.css
  client_angular2/app/netflix-view/page.tsx
  client_angular2/app/travel/[id]/page.tsx
  client_angular2/app/travel/components/itinerary-list.tsx
  client_angular2/app/travel/components/itinerary-list.tsx.bak
  client_angular2/app/travel/components/itinerary-list.tsx.new
  client_angular2/app/travel/components/travel-map.tsx
  client_angular2/app/travel/create/page.tsx
  client_angular2/app/travel/edit/[id]/page.tsx
  client_angular2/app/travel/page.tsx
  client_angular2/components/map.tsx
  client_angular2/components/ui/AdvertiserCard.tsx
  client_angular2/hooks/use-auth.ts
  client_angular2/package-lock.json
  client_angular2/package.json
  client_angular2/playwright-report/index.html
  client_angular2/services/geocoding-service.ts
  client_angular2/services/travel-service.ts
  client_angular2/tests/e2e/travel/travel-itinerary.spec.ts
  server/routes/travel.routes.ts
Due: npx prettier --write

Jeg prøver autopublisering til web , kommer til å feile
  client_angular2/app/signup/page.tsx
  client_angular2/app/travel/components/itinerary-list.tsx
  client_angular2/components/enhanced-navbar-auth.tsx
  client_angular2/components/enhanced-navbar-original.tsx.bak
  server/config/database.ts
  server/controllers/auth.controller.ts
  server/middleware/auth.ts
  server/middleware/csrf.ts
  server/middleware/rate-limit.ts
  server/models/token-blacklist.model.ts
  server/routes/auth.routes.ts
  server/utils/email.js
  server/utils/email.ts
  server/utils/validation.ts
  src/utils/express-ext.d.ts
Due: cd server && npx eslint --fix, cd server && npx prettier --write
