Repository mrkurger/date-night-app2: changes, and which lint-staged commands are due for each by the changed paths.
All: cd server && npx eslint --fix, cd server && npx prettier --write, cd client-angular && npx eslint --fix, cd client-angular && npx prettier --write, npx prettier --write

.lintstagedrc.json:

{
  "server/**/*.js": [
    "cd server && npx eslint --fix",
    "cd server && npx prettier --write"
  ],
  "client-angular/src/**/*.ts": [
    "cd client-angular && npx eslint --fix",
    "cd client-angular && npx prettier --write"
  ],
  "client-angular/src/**/*.html": ["cd client-angular && npx prettier --write"],
  "client-angular/src/**/*.{scss,css}": [
    "cd client-angular && npx prettier --write"
  ],
  "*.json": ["npx prettier --write"]
}

git commit -m
  .github/actions/setup-nodejs/action.yml
  .github/workflows/angular-tests.yml
  .github/workflows/base-config.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docs-generation-and-deployment.yml
  .github/workflows/docs.yml
  .github/workflows/generate-docs.yml
  .github/workflows/monitoring.yml
  .github/workflows/security-alerts-report.yml
  .github/workflows/security-reporting.yml
  .github/workflows/server-tests.yml
  .github/workflows/sync-snyk-issues.yml
  .github/workflows/sync-test-reports.yml
  .github/workflows/tests.yml
  .prettierignore
  .prettierrc
  README.md
  docs-html/general/AILESSONS.html
  docs-html/general/GLOSSARY.html
  docs-html/general/changelog.html
  docs-html/general/code-formatting.html
  generated/prisma/edge.js
  generated/prisma/index.js
  package-lock.json
Due: npx prettier --write

k
  client-angular/.eslintrc.js
  client-angular/package.json
  package-lock.json
  scripts/install-github-integration-deps.js
Due: npx prettier --write

iii
  package-lock.json
  package.json
  scripts/install-github-integration-deps.js
Due: npx prettier --write

workin on them flows
  client-angular/package.json
  package-lock.json
  package.json
  scripts/check-node-version.js
  server/middleware/index.js
  server/routes/geocoding.routes.js
  ts-fixes-backup-advanced/src/app/core/core.module.ts
  ts-fixes-backup-advanced/src/app/core/services/alert.service.ts
  ts-fixes-backup-comprehensive/src/app/core/core.module.ts
  ts-fixes-backup-comprehensive/src/app/core/services/alert.service.ts
  ts-fixes-backup/src/app/core/core.module.ts
  ts-fixes-backup/src/app/core/services/alert.service.ts
Due: cd server && npx eslint --fix, cd server && npx prettier --write, npx prettier --write

Create jfrog.yml
  .github/workflows/jfrog.yml
Due: none

feat: Enhance dependency management strategy with robust error handling and automated checks
  .github/actions/setup-nodejs/action.yml
  .github/workflows/angular-tests.yml
  .github/workflows/ci.yml
  .github/workflows/dependency-check.yml
  .github/workflows/generate-docs.yml
  .github/workflows/sync-snyk-issues.yml
  WORKFLOW_IMPROVEMENTS.html
  client-angular/src/app/core/services/chat.service.ts
  client-angular/src/app/features/admin/components/alert-form-dialog/alert-form-dialog.component.ts
  client-angular/src/app/features/chat/chat-list/chat-list.component.ts
  docs/DEPENDENCY_MANAGEMENT.html
Due: cd client-angular && npx eslint --fix, cd client-angular && npx prettier --write

Update angular-tests.yml
  .github/workflows/angular-tests.yml
Due: none

refactor: Simplify Angular application structure and enhance error handling in services
  .github/workflows/angular-tests.yml
  client-angular/src/app/app.component.ts
  client-angular/src/app/app.config.ts
  client-angular/src/app/core/guards/auth.guard.ts
  client-angular/src/app/core/interceptors/http-error.interceptor.ts
  client-angular/src/app/core/services/user.service.ts
Due: cd client-angular && npx eslint --fix, cd client-angular && npx prettier --write

Update docs.yml
  .github/workflows/docs.yml
Due: none

Update error-monitoring.yml
  .github/workflows/error-monitoring.yml
Due: none

Delete .github/workflows/docs-generation-and-deployment.yml
  .github/workflows/docs-generation-and-deployment.yml
Due: none

Update generate-docs.yml
  .github/workflows/generate-docs.yml
Due: none

Delete .github/workflows/docs.yml
  .github/workflows/docs.yml
Due: none

Update base-config.yml
  .github/workflows/base-config.yml
Due: none

feat: Refactor SkeletonLoader component for improved styling and functionality
  .github/workflows/angular-tests.yml
  .github/workflows/server-tests.yml
  .huskyrc.json
  client-angular/src/app/core/models/error.model.ts
  client-angular/src/app/features/chat/chat.component.scss
  client-angular/src/app/features/chat/chat.component.ts
  client-angular/src/app/features/favorites/favorites-list/favorites-list.component.ts
  client-angular/src/app/features/favorites/favorites-page/favorites-page.component.ts
  client-angular/src/app/features/telemetry/components/create-error-alert/create-error-alert.component.ts
  client-angular/src/app/features/tinder/tinder.component.spec.ts
  client-angular/src/app/shared/components/avatar/avatar.component.ts
  client-angular/src/app/shared/components/button/button.component.html
  client-angular/src/app/shared/components/button/button.component.scss
  client-angular/src/app/shared/components/button/button.component.ts
  client-angular/src/app/shared/components/card-grid/card-grid.component.ts
  client-angular/src/app/shared/components/carousel/carousel.component.ts
  client-angular/src/app/shared/components/floating-action-button/floating-action-button.component.ts
  client-angular/src/app/shared/components/info-panel/info-panel.component.ts
  client-angular/src/app/shared/components/page-header/page-header.component.ts
  client-angular/src/app/shared/components/skeleton-loader/skeleton-loader.component.ts
  client-angular/src/app/shared/components/toggle/toggle.component.ts
  client-angular/src/app/shared/nebular.module.ts
  scripts/disable-husky-in-ci.js
Due: cd client-angular && npx eslint --fix, cd client-angular && npx prettier --write, npx prettier --write

feat: Integrate URL validation middleware patch into server setup
  server/server.js
  server/tests/unit/middleware/url-validator.test.js
Due: cd server && npx eslint --fix, cd server && npx prettier --write

Implement new feature for user authentication and improve error handling
  package-lock.json
Due: npx prettier --write

Update server-tests.yml
  .github/workflows/server-tests.yml
Due: none

Create angular-client-lint.yml
  .github/workflows/angular-client-lint.yml
Due: none

hoes need abortions
  _docs_index.html
  client-angular/package.json
  client-angular/src/app/core/interceptors/auth.interceptor.ts
  client-angular/src/app/core/services/auth.service.ts
  client-angular/src/app/core/services/user.service.ts
  client-angular/src/app/services/auth.service.ts
  client-angular/src/app/shared/components/favorite-dialog/favorite-dialog.component.ts
  client-angular/src/app/shared/components/tags-dialog/tags-dialog.component.ts
  client-angular/src/app/shared/emerald/tinder-card/tinder-card.component.html
  client-angular/src/app/shared/emerald/tinder-card/tinder-card.component.ts
  nebular-demo.html
  package-lock.json
  server/components/auth/auth.controller.js
  server/config/csp.config.js
  server/server.js
  src/app/shared/emerald/components/EMERALD_MIGRATION_SUMMARY.html
Due: cd server && npx eslint --fix, cd server && npx prettier --write, cd client-angular && npx eslint --fix, cd client-angular && npx prettier --write, npx prettier --write

Create trivy-scan.yml
  .github/workflows/trivy-scan.yml
Due: none

Update trivy-scan.yml
  .github/workflows/trivy-scan.yml
Due: none

Create frogbot.yml
  .github/workflows/frogbot.yml
Due: none

Update frogbot.yml
  .github/workflows/frogbot.yml
Due: none

feat: add placeholder images and SVG for advertiser browsing feature
  CHANGELOG.html
  client-angular/package.json
Due: npx prettier --write

Update .github/actions/setup-nodejs/action.yml
  .github/actions/setup-nodejs/action.yml
Due: none
